<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="application-name" content="plaak phaeton wallet-<%= htmlWebpackPlugin.options.VERSION %>" data-plaak-version="<%= htmlWebpackPlugin.options.VERSION %>">
        <meta name="viewport" content="width=device-width">
        <meta name="keywords" content="Plaak, Plaak Phaeton Wallet">
        <meta property="og:title" content="Plaak Phaeton Wallet">
        <meta property="og:description" name="description" content="Plaak :: Plaak phaeton wallet is solution to Manage your address, transactions as well as delegates voting and monitoring.">
        
        <title>Plaak Phaeton Wallet</title>
        <style>
          <%= compilation.assets['head.css'].source() %>
          .transactionDasboard__wallet_container___3dssg #walletdiv{display: none;}
          .transactionDasboard__wallet_container___3dssg .next{display: none;}
          .voteCheckbox__checked___3wS_X{display: none;}
          .saved-accounts {background: url(../../assets/images/dots.png);background-repeat: no-repeat;background-size: contain;width: 20px !important;height: 30px !important;display: block;background-position: center;}
          #sidechains {position: relative;}
          .searchBar__searchBar___fmE3R{position: relative;}
          .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9 {box-sizing: border-box;-ms-flex: 0 0 auto;-webkit-box-flex: 0;flex: 0 0 auto;padding-right: 1rem;padding-left: 1rem;}
            .row {box-sizing: border-box;display: -ms-flexbox;display: -webkit-box;display: flex;-ms-flex: 0 1 auto;-webkit-box-flex: 0;flex:  1 auto;-ms-flex-direction: row;-webkit-box-orient: horizontal;-webkit-box-direction: normal;flex-direction: row;-ms-flex-wrap: wrap;flex-wrap: wrap;margin-right: -1rem;margin-left: -1rem;}
            .col-lg-3 {-ms-flex-preferred-size: 25%;flex-basis: 25%;max-width: 25%;}
            .col-lg-5 {-ms-flex-preferred-size: 41.667%;flex-basis: 41.667%;max-width: 41.667%;}
            .col-lg-7 {-ms-flex-preferred-size: 58.333%;flex-basis: 58.333%;max-width: 58.333%;}
            .col-lg-12 {-ms-flex-preferred-size: 100%;flex-basis: 100%;max-width: 100%;}
            .inline-lists li {display: inline-block;position: relative;}
            .inline-lists, .block-lists {list-style-type: none;padding: 0;margin: 0;/* list-style: disclosure-open; */}
            .footer{position: relative;background-color: rgba(0,0,0,.4);}
            .footer .innerpadding{padding: 90px 0;}
            .footer .logo-wrap{position: relative;display: inline-block;width: 58%;}
            .footer .logo-wrap a{width: 100%;height: 48px;display: block;position: relative;overflow: hidden;}
            .footer .logo-wrap a img{display: table;width: 100%;height: 100%;vertical-align: middle;margin: 0 auto;object-fit: contain;}
            .footer .footer-social-items p{color: #ffffff;font-weight: 400;width: 58%;text-align: center;}
            .footer .footer-social-items .image-container{height: 30px;}
            .footer .footer-social-items ul {padding: 0 28px;}
            .footer .footer-social-items .icon_0{width: 25px;}
            .footer .footer-social-items .icon_1{width: 27px;}
            .footer .footer-social-items .icon_2{width: 33px;}
            .footer .footer-social-items .icon_3{width: 25px;}
            .footer .footer-social-items .icon_4{width: 25px;}
            .footer .footer-social-items .icon_5{width: 25px;}
            .footer .footer-social-items .icon_6{width: 27px;}
            .footer .footer-social-items li{vertical-align: middle;}
            .footer .footer-social-items li a{padding: 0 21px;}
            .footer .footer-social-items li a img{transition: all 0.5s ease;-webkit-filter: grayscale(1);-moz-filter: grayscale(1);-ms-filter: grayscale(1);-o-filter: grayscale(1);filter: grayscale(1);}
            .footer .footer-social-items li a:hover img{filter: brightness(0) invert(1);-webkit-filter: grayscale(1);-moz-filter: grayscale(1);-ms-filter: grayscale(1);-o-filter: grayscale(1);filter: grayscale(1);}
            .footer .foot-navs h7 {color: #e34550;text-transform: uppercase;font-weight: 500;display: block;margin-bottom: 20px;}
            .footer .foot-navs .navs li a{color: #868686;font-weight: 400;margin-bottom: 14px;display: block;letter-spacing: 1px;}
            .footer .foot-navs .navs li a:hover{color: #ffffff;}
            .delegates .passphraseInput__inputTypeToggle___11vrn {right: 22px;}
           @media(min-width: 1920px){
            .copyright {position: absolute !important; left: 0; right: 0; bottom: 0;}
           }
          @media(max-width: 1366px){
            .copyright {position: static !important;}
          }
          h1, h2, h3, h4{position: relative !important;font-family: Open Sans,sans-serif !important;font-weight: 300 !important;}
        </style>
        <link rel="icon" type="image/png" href="./assets/images/plaak/favicon.ico" />
        <script>
          /* Following comment is a placeholder used by `npm run build:testnet`, do not remove */
          var defaultNet = "customNode";//defaultNetwork
          (function(targetNet) {
            if (window.localStorage && !window.localStorage.getItem('defaultNetwork')){
              window.localStorage.setItem('defaultNetwork', defaultNet);
            }
          })(defaultNet);
        </script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript">
            function GetActiveClass(){
                var GetActive = jQuery('.mainMenu__active___6MWLb').attr('id');
                jQuery('main > div:first-child').addClass(GetActive);
            }
            jQuery(document).ready(function(){
                setTimeout(function(){
                    GetActiveClass();
                }, 3000);
                jQuery('main nav > div').each(function(){
                    jQuery(this).on('click', function(){
                       var GetID = jQuery(this).attr('id');
                       jQuery('main > div:first-child').removeClass('dashboard');
                       jQuery('main > div:first-child').removeClass('transactions');
                       jQuery('main > div:first-child').removeClass('settings');
                       jQuery('main > div:first-child').removeClass('delegates');
                       jQuery('main > div:first-child').removeClass('sidechains');
                       jQuery('main > div:first-child').removeClass('peers');
                       setTimeout(function(){
                            jQuery('main > div:first-child').addClass(GetID);
                        }, 2000);
                    });
                });
            });
        </script>
    </head>
    <body>
        <div id="app"></div>
        <div class='splash-screen'>
        <div class='background-stripes'>
            <span class='stripe'></span>
            <span class='stripe'></span>
            <span class='stripe'></span>
            <span class='stripe'></span>
            <span class='stripe'></span>
            <span class='stripe'></span>
            <span class='stripe'></span>
            <span class='stripe'></span>
            <span class='stripe'></span>
            <span class='stripe'></span>
            <span class='stripe'></span>
            <span class='stripe'></span>
        </div>
        <figure style="text-align: center;">
            <img style="width:50%;margin: 140px auto 0 auto;max-width: 50%;" src='./assets/images/plaak/Plaak-Wallet-Splash.png' />
        </figure>
        </div>
        <link rel="stylesheet" href="./styles.css">
        <script src="./bundle.vendor.js"></script>
        <script src="./bundle.app.js"></script>
          <footer  class="footer">
              <div class="innerpadding">
                <div class="outer">
                  <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <div class="content-wrap">
                            <div class="logo-wrap">
                              <a href="">
                                <img src="assets/images/logo__.png" alt="PLAAK INVESTMENT">
                              </a>
                            </div>
                            <!-- /END OF LOGO-WRAP/ -->
                            <div  class="footer-social-items">
                              <p>Get in touch</p>
                              <ul class="inline-lists">
                                <li><a href="https://www.t.me/plaaktelegram" target="_blank"><div class="image-container icon_0"><img src="assets/images/foot_icon_0.png" alt=""></div></a></li>
                                <li><a href="https://discord.gg/F44Ybhj" target="_blank"><div class="image-container icon_1"><img src="assets/images/foot_icon_1.png" alt=""></div></a></li>
                                <li><a href="https://www.reddit.com/user/PLAAKOfficial" target="_blank"><div class="image-container icon_2"><img src="assets/images/foot_icon_2.png" alt=""></div></a></li>
                                <li><a href="https://www.facebook.com/plaakcommunity/" target="_blank"><div class="image-container icon_3"><img src="assets/images/foot_icon_3.png" alt=""></div></a></li>
                                <li><a href="https://twitter.com/plaakcommunity" target="_blank"><div class="image-container icon_4"><img src="assets/images/foot_icon_4.png" alt=""></div></a></li>
                                <li><a href="https://medium.com/@plaak" target="_blank"><div class="image-container icon_5"><img src="assets/images/foot_icon_5.png" alt=""></div></a></li>
                                <li><a href="https://www.instagram.com/plaak_official/" target="_blank"><div class="image-container icon_5"><img src="assets/images/insta.png" alt=""></div></a></li>
                                <li><a href="https://www.youtube.com/channel/UCIhazw0c-1701BUPYwA_8uQ" target="_blank"><div class="image-container icon_6"><img src="assets/images/foot_icon_6.png" alt=""></div></a></li>
                                <li><a href="https://in.linkedin.com/company/plaak" target="_blank"><div class="image-container icon_7"><img src="assets/images/foot_icon_7.png" alt=""></div></a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 foot-navs">
                      <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <div class="content-wrap">
                                            <h7>Products</h7>
                                            <div class="navs block-lists">
                                                <li><a href="https://plaak.com/exchange/" target="_blank">Exchange App</a></li>
                                                <li><a href="https://plaak.com/core/cards" target="_blank">Hardware wallet</a></li>
                                                <li><a href="https://plaak.com/core/"><span>Plaak Core</span></a></li>
                                                <li><a href="https://phaeton.plaak.com/"><span>Phaeton</span></a></li>
                                                <li><a href="https://explorer.plaak.com/"><span>Explorer</span></a></li>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <div class="content-wrap">
                                            <h7>About</h7>
                                            <div class="navs block-lists">
                                              <!-- <li><a href="https://plaak.com/blockchain/" target="_blank"><span>Blockchain services</span></a></li> -->
                                              <!-- <li><a href="https://plaak.com/docs/PLAAK-Whitepaper-V2-Freelance.pdf" target="_blank">Freelancer App Whitepaper</a></li> -->
                                              <!-- <li><a href="docs/PLAAK-Exchange_Whitepaper.pdf" target="_blank">Exchange App Whitepaper</a></li> -->
                                              <li><a href="#roadmap" data-where-offset="50" data-where-time="400">Roadmap</a></li>
                                              <li><a href="team.php">Team</a></li>
                                              <li><a href="contact.php">Contact</a></li>
                                              <li><a href="https://plaak.freshdesk.com">FAQs</a></li>
                                              <li><a href="terms.php">Terms &amp; Conditions</a></li>
                                              <li><a href="https://plaak.freshdesk.com/support/home">Support</a></li>
                                          </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <div class="content-wrap">
                                            <h7>Policy</h7>
                                            <div class="navs block-lists">
                                                <li><a href="https://plaak.com/privacy_policy.php" target="_blank">Privacy policy</a></li>
                                                <!-- <li><a href="https://plaak.com/tsprivacy.php" target="_blank">Token sales policy</a></li> -->
                                                <!-- <li><a href="">Smart Contract</a></li> -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <div class="content-wrap">
                                            <h7>Links</h7>
                                            <div class="navs block-lists">
                                              <!--<li><a href="docs/PLAAK-Exchange_Whitepaper.pdf" target="_blank">Whitepaper</a></li>-->
                                              <li><a href="https://plaak.com/blockchain/" target="_blank">Blockchain </a></li>
                                              <li><a href="https://medium.com/@plaak" target="_blank">Blog</a></li>
                                              <li><a href="https://plaak.com/exchange/refer.php" target="_blank">Referral Bonus</a></li>
                                              <li><a href="https://plaak.com/exchange/tokenlisting.php" target="_blank">Token Listing</a></li>
                                              <!-- <li><a href="coming-soon.php" target="_blank">Security</a></li> -->
                                              <!-- <li><a href="https://plaak.freshdesk.com/support/home" target="_blank">Support</a></li> -->
                                              <li><a href="http://plaak.com/exchange/fee.php">Fee</a></li>
                                              <li><a href="https://plaak.com/kyc_policy.php">Kyc Policy</a></li>
                                              
                                          </div>
                                        </div>
                                    </div>
                                </div>
                             </div>
                        </div>
                      </div>
                    </div>
            </footer>
      </body>
</html>
